.logo-container{
    img{
        max-width: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.menu-container{
    margin-bottom: -1px !important;
    z-index: 30;
    position: relative;
    background-color: #f95c50 !important;
    .menu-col{
        padding: 10px 0px;
        .menu-class-item{
            a{
                text-transform: uppercase;
                color: #ffffff !important;
                font-size: 14px;
            }
        }
    }
}

.hero-row{
    th{
        padding: 0px !important;
        @media(max-width: 768px){
            padding: 0px !important;
        }
    }
}

.directora-container{
    margin-top: -1px !important;
    z-index: 30;
    position: relative;
    background-color: #8bbdb1 !important;
    h1, 
    p{  font-family: "Arial";
        font-size: 28px;
        max-width: 500px;
        text-align: center;
        color: #ffffff;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        font-weight: bold;
    }
    p{
        margin-top: 20px;
        font-size: 15px;
        font-weight: 300;
    }
    a{
        font-family: "Arial";
        color: #ffffff;
        text-transform: uppercase;
        border: 1px solid #ffffff;
        display: block;
        max-width: 95px;
        padding: 15px 20px;
        text-align: center;
        border-radius: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 15px;
    }
}

.infancia-container{
    .img-square{
        box-shadow: -40px 40px #dff4ee;
        height: 100px;
        width: 100px;
        display: block;
        background-color: #ffffff;
        margin-left: auto;
        margin-right: 20px;
        margin-top: 60px;
        @media(max-width: 768px){
            margin-right: auto;
        }
    }
    h2{
        color: #8bbdb1;
        text-transform: uppercase;
        font-size: 21px;
        margin-top: 55px;
        font-family: "Arial";
        font-weight: bold;
        @media(max-width: 768px){
            text-align: center;
        }
    }
    p {
        color: #5e3814;
        line-height: 23px;
        font-size: 15px;
        @media(max-width: 768px){
            text-align: center;
        }
    }

    .last-paragraph{
        margin-bottom: 55px;
    }
}

.heart-spacer{
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.historias-container{
    background-image: url(../assets/img/grey-heart-shape.svg) !important;
    background-size: 400px auto !important;
    background-repeat: no-repeat !important;
    background-position: 40% 50% !important;
    h2{
        text-transform: uppercase;
        color: #f95c50 !important;
        font-family: "Arial";
        font-size: 21px;
        margin-top: 55px;
        margin-bottom: 55px;
        text-align: center;
    }
    p{
        color: #5e3814;
        line-height: 23px;
        font-size: 15px;
        @media(max-width: 768px){
            text-align: center;
        }
    }
    h5{
        color: #f95c50;
        font-size: 15px;
        @media(max-width: 768px){
            text-align: center;
        }
    }
    a{
        font-family: "Arial";
        color: #f95c50;
        text-transform: uppercase;
        border: 1px solid #f95c50;
        display: block;
        max-width: 300px;
        padding: 15px 20px;
        text-align: center;
        border-radius: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 60px;
        font-weight: bold;
        font-size: 15px;
    }
    img{
        @media(max-width: 768px){
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.sobre-ellos-container{
    background-image: url(../assets/img/about-the-kids.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 400px;
    .sobre-ellos{
        background-color: #ffffff7a;
        margin-top: 50px;
        padding: 30px;
    }
    h1,
    p{
        text-align: center;
        color: #5e3814;
        font-family: "Arial";
        line-height: 23px;
    }
    p{
        font-size: 15px;
        margin-top: 25px;
    }
    h1{
        font-size: 28px;
        font-weight: bold;
    }

    a{
        font-family: "Arial";
        color: #ffffff;
        background-color: #f95c50;
        text-transform: uppercase;
        border: 1px solid #f95c50;
        display: block;
        max-width: 95px;
        padding: 15px 20px;
        text-align: center;
        border-radius: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        font-weight: bold;
        font-size: 15px;
    }
}
.video-container{
    .video-column{
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }
    .video-info-card{
        background-color: #f95b5065 !important;
        padding: 20px;
        h2,
        p{
            text-align: center;
            color: #f95c50;
            font-family: "Arial";
            line-height: 23px;
        }
        p{
            font-size: 15px;
            margin-top: 25px;
            color: #5e3814;
            max-width: 400px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h2{
            font-size: 21px;
            font-weight: bold;
        }
        a{
            font-family: "Arial";
            color: #ffffff;
            background-color: #f95c50;
            text-transform: uppercase;
            border: 1px solid #f95c50;
            display: block;
            max-width: 95px;
            padding: 15px 20px;
            text-align: center;
            border-radius: 35px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            font-weight: bold;
            font-size: 15px;
        }
    }
}
.thanks-container{
    background-image: url(../assets/img/green-bg.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    img{
        max-width: 130px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }
    .thanks-card{
        background-color: rgba(45, 45, 45, 0.2);
        padding: 20px;
        margin-top: 50px;
        @media(max-width: 768px){
            padding: 35px 20px;
        }
        h2{
            color: #ffffff;
            text-transform: uppercase;
            font-size: 21px;
            font-family: "Arial";
            font-weight: bold;
            @media(max-width: 768px){
                text-align: center;
            }
        }
        p{
            text-align: left;
            font-size: 15px;
            color: #ffffff;
            font-family: "Arial";
            line-height: 23px;
        }
    }
    h4{
        font-family: "Arial";
        color: #ffffff;
        text-align: center;
        font-size: 15px;
        margin-top: 30px;
    }
    a{
        display: block;
        max-width: 100px;
        text-align: center;
        margin-left: auto;
        text-decoration: underline;
        text-transform: uppercase;
        color: #ffffff;
        margin-right: auto;
        margin-bottom: 25px;
    }
}

.cold-container{
    background-image: url(../assets/img/blue-bg.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: relative !important;
    z-index: 30;
    margin-top: -1px !important;
    .cold-card{
        background-color: rgba(45, 45, 45, 0.2);
        padding: 20px;
        margin-top: 50px;
        @media(max-width: 768px){
            padding: 35px 20px;
        }
        h2{
            color: #ffffff;
            text-transform: uppercase;
            font-size: 21px;
            font-family: "Arial";
            font-weight: bold;
        }
        h5{
            text-align: left;
            font-size: 14px;
            color: #ffffff;
            font-family: "Arial";
            line-height: 23px;
        }
        ul {
            padding: 0px !important;
            li{
                text-decoration: none;
                list-style: none;
                color: #ffffff;
                font-weight: bold;
            }
        }

        a{
            font-family: "Arial";
            color: #ffffff;
            background-color: #f95c50;
            text-transform: uppercase;
            border: 1px solid #f95c50;
            display: block;
            max-width: 200px;
            padding: 15px 20px;
            text-align: center;
            border-radius: 35px;
            margin-left: 0;
            margin-right: auto;
            margin-top: 35px;
            font-weight: bold;
            font-size: 15px;
        }
    }
    img{
        max-width: 130px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }
}

.how-to-help{
    h1{
        text-transform: uppercase;
        color: #5e3814 !important;
        font-family: "Arial";
        font-size: 21px;
        margin-top: 55px;
        margin-bottom: 55px;
        text-align: center;
    }
    p{
        color: #5e3814;
        line-height: 23px;
        font-size: 15px;
        font-family: "Arial";
        text-align: center;
    }
    img{
        max-height: 40px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    a{
        text-transform: uppercase;
        font-family: "Arial";
        color: #ffffff;
        display: block;
        max-width: 200px;
        padding: 15px 20px;
        text-align: center;
        border-radius: 35px;
        margin-left: 0;
        margin-right: auto;
        font-weight: bold;
        font-size: 15px;
        height: 35px;
        margin-top: 35px;
        margin-bottom: 60px !important;
    }
    a.donate-now{
        background-color: #f95c50;
        border: 1px solid #f95c50;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    a.increase-donation{
        background-color: #fca93b;
        border: 1px solid #fca93b;
    }
}

.footer-container{
    .footer-gray-block{
        background-color: #474747;
    }
    h1{
        text-transform: uppercase;
        color: #ffffff !important;
        font-family: "Arial";
        font-size: 16px;
        margin-top: 55px;
        margin-bottom: 30px;
        text-align: center;
    }
    .footer-social-media{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        a{
            margin: 0px 20px;
        }
        img{
            max-height: 30px !important;
        }
    }
    .footer-contact{
        padding-top: 15px;
        background-color: #474747 !important;
        padding: 0 !important;
        a.footer-mail{
            color: #f95c50 !important;
        }
        .footer-tel{
            margin-top: 10px;
            margin-bottom: 20px;
        }
        a{
            color: #ffffff !important;
            display: block;
            text-align: center;
        }
    }
}
.closing-footer{
    background-color: #393939;
    padding: 0 !important;
    a{
        color: #ffffff !important;
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}