table.container {
    width: 600px;
}

@media(max-width: 480px){
    .d-none{
        display: none !important;
    }
    .padding-none{
        padding: 0px !important;
    }
}


.logo-container{
    img{
        width: 75px;
        height: 102px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
        margin-bottom: 30px;
    }

    &-wrapper {
        padding-bottom: 0 !important;
    }
}

$sizes: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50;

@each $size in $sizes {
    .padding-left-#{$size} {
        padding-left: 1px * $size !important;
    }

    .padding-right-#{$size} {
        padding-right: 1px * $size !important;
    }
}

.menu-container{
    margin-bottom: -1px !important;
    z-index: 30;
    position: relative;
    background-color: #f95c50 !important;
    .menu-col{
        padding: 10px 0px !important;
        .menu-class-item{
            padding-bottom: 5px;
            padding-top: 5px;
            padding-left: 0;
            padding-right: 0;
            a{
                text-transform: uppercase;
                color: #ffffff !important;
                font-size: 15px;

                > span {
                    display: inline-block;
                    padding: 0 15px;
                }
                @media(max-width: 480px){
                    font-size: 11px !important;
                }
            }
        }
    }
}

.hero-row{
    th{
        padding: 0px !important;
    }

    table > tbody > tr > td {
        padding: 0px !important;
    }
}

.directora-container{
    margin-top: -1px !important;
    z-index: 30;
    position: relative;
    background-color: #8bbdb1 !important;
    h1, 
    p{  font-family: "Arial", sans-serif;
        font-size: 30px;
        max-width: 500px;
        text-align: center;
        color: #ffffff;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        font-weight: bold;
    }
    p{
        margin-top: 14px;
        font-size: 15px;
        font-weight: 300;
    }
    a{
        font-family: "Arial", sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        border: 1px solid #ffffff;
        display: block;
        max-width: 95px;
        padding: 15px 20px;
        text-align: center;
        border-radius: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 15px;
    }
}

.infancia-container{
    &-image {
        th {
            text-align: center;
        }
    }
    .img-square{
        display: inline-block;
        background-color: #ffffff;
        margin-right: 20px;
        margin-top: 60px;
        max-width: 200px;
        @media (max-width: 480px){
            margin-top: 30px !important;
        }
        img{
            max-width: 200px;
        }
    }
    h2{
        color: #8bbdb1;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 55px;
        font-family: "Arial", sans-serif;
        font-weight: bold;
        @media(max-width: 768px){
            text-align: center;
        }
    }
    p {
        color: #5e3814;
        line-height: 23px;
        font-size: 14px;
        @media (max-width: 480px){
            margin-bottom: 20px !important;
            text-align: center;
        }
    }

    .last-paragraph{
        margin-bottom: 55px;
    }
}

.heart-spacer{
    img{
        max-width: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.historias-container{
    background-image: url(https://amplifica.com.ar/proyectos/hml/01/assets/img/grey-heart-shape.png) !important;
    background-size: 400px auto !important;
    background-repeat: no-repeat !important;
    background-position: 40% 50% !important;
    h2{
        text-transform: uppercase;
        color: #f95c50 !important;
        font-family: "Arial", sans-serif;
        font-weight: bold;
        font-size: 18px;
        margin-top: 55px;
        margin-bottom: 55px;
        text-align: center;
        @media (max-width: 480px){
            margin-top: 25px !important;
            margin-bottom: 15px !important;
        }
    }
    p{
        color: #5e3814;
        line-height: 23px;
        font-size: 14px;
        @media(max-width: 768px){
            text-align: center;
        }
    }
    h5{
        color: #f95c50;
        font-size: 14px;
        @media(max-width: 768px){
            text-align: center;
        }
    }
    a{
        font-family: "Arial", sans-serif;
        color: #f95c50;
        text-transform: uppercase;
        border: 1px solid #f95c50;
        display: block;
        max-width: 300px;
        padding: 15px 20px;
        text-align: center;
        border-radius: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 60px;
        font-weight: bold;
        font-size: 15px;
        @media(max-width: 480px){
            margin-bottom: 30px !important;
        }
    }
    img{
        max-width: 150px;
        @media(max-width: 768px){
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.sobre-ellos-container{
    background-image: url(https://amplifica.com.ar/proyectos/hml/01/assets/img/about-the-kids.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    
    .sobre-ellos{
        background-color: rgba(255,255,255,.75);
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 30px 20px;
        @media(max-width: 480px){
            margin-top: 30px !important;
            margin-bottom: 30px !important;
        }

        &-main {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    h1,
    p{
        text-align: center;
        color: #5e3814;
        font-family: "Arial", sans-serif;
        line-height: 23px;
    }
    p{
        font-size: 14px;
        margin-top: 20px;
        line-height: 1.6;
    }
    h1{
        font-size: 20px;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 0;
    }
    a{
        font-family: "Arial", sans-serif;
        color: #ffffff;
        background-color: #f95c50;
        text-transform: uppercase;
        border: 1px solid #f95c50;
        display: block;
        max-width: 95px;
        padding: 15px 20px;
        text-align: center;
        border-radius: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        font-weight: bold;
        font-size: 15px;
    }
}
.video-container{
    .video-column{
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .video-info-card{
        background-color: rgba(239, 214, 214, .7) !important;
        padding: 25px;
        h2,
        p{
            text-align: center;
            color: #f95c50;
            font-family: "Arial", sans-serif;
            line-height: 23px;
        }
        p{
            font-size: 14px;
            margin-top: 20px;
            color: #5E3814;
            max-width: 400px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h2{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 0;
        }
        a{
            font-family: "Arial", sans-serif;
            color: #ffffff;
            background-color: #f95c50;
            text-transform: uppercase;
            border: 1px solid #f95c50;
            display: block;
            max-width: 95px;
            padding: 15px 20px;
            text-align: center;
            border-radius: 35px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            font-weight: bold;
            font-size: 15px;
        }
    }
}
.thanks-container{
    background-image: url(https://amplifica.com.ar/proyectos/hml/01/assets/img/green-bg.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    img{
        max-width: 130px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }
    .thanks-card{
        background-color: rgba(45, 45, 45, 0.2);
        padding: 20px;
        margin-top: 50px;
        @media(max-width: 480px){
            padding: 35px 20px !important;
            margin-top: 20px !important;
        }
        h2{
            color: #ffffff;
            text-transform: uppercase;
            font-size: 24px;
            font-family: "Arial", sans-serif;
            font-weight: bold;
            @media(max-width: 768px){
                text-align: center;
            }
        }
        p{
            text-align: left;
            font-size: 14px;
            color: #ffffff;
            font-family: "Arial", sans-serif;
            line-height: 23px;
        }
    }
    h4{
        font-family: "Arial", sans-serif;
        color: #ffffff;
        text-align: center;
        font-size: 15px;
        margin-top: 30px;
    }
    a{
        display: block;
        max-width: 100px;
        text-align: center;
        margin-left: auto;
        text-decoration: underline;
        text-transform: uppercase;
        color: #ffffff;
        margin-right: auto;
        margin-bottom: 25px;
    }
}

.cold-container{
    background-image: url(https://amplifica.com.ar/proyectos/hml/01/assets/img/blue-bg.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: relative !important;
    z-index: 30;
    margin-top: -1px !important;
    .cold-card{
        background-color: rgba(45, 45, 45, 0.2);
        padding: 20px;
        margin-top: 50px;
        @media(max-width: 768px){
            padding: 35px 20px;
        }
        h2{
            color: #ffffff;
            text-transform: uppercase;
            font-size: 24px;
            font-family: "Arial", sans-serif;
            font-weight: bold;
        }
        h5{
            text-align: left;
            font-size: 14px;
            color: #ffffff;
            font-family: "Arial", sans-serif;
            line-height: 23px;
        }
        ul {
            padding: 0px !important;
            li{
                font-size: 18px;
                text-decoration: none;
                list-style: none;
                color: #ffffff;
                font-weight: bold;
            }
        }

        a{
            font-family: "Arial", sans-serif;
            color: #ffffff;
            background-color: #f95c50;
            text-transform: uppercase;
            border: 1px solid #f95c50;
            display: block;
            max-width: 200px;
            padding: 15px 20px;
            text-align: center;
            border-radius: 35px;
            margin-left: 0;
            margin-right: auto;
            margin-top: 35px;
            font-weight: bold;
            font-size: 15px;
        }
    }
    img{
        max-width: 130px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }
}

.how-to-help{
    background: #F2F2F2 !important;


    &.container {
        background-color: #F2F2F2 !important;
    }

    h1{
        text-transform: uppercase;
        color: #5e3814 !important;
        font-family: "Arial", sans-serif;
        font-size: 20px;
        margin-top: 55px;
        margin-bottom: 25px;
        text-align: center;
        font-weight: bold;
        @media(max-width: 480px){
            margin-top: 35px !important;
            margin-bottom: 5px !important;
        }
    }
    p{
        color: #5e3814;
        line-height: 23px;
        font-size: 14px;
        font-family: "Arial", sans-serif;
        text-align: center;
    }
    img{
        max-height: 40px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    a{
        text-transform: uppercase;
        font-family: "Arial", sans-serif;
        color: #ffffff;
        display: inline-block;
        max-width: 200px;
        padding: 15px 20px;
        text-align: center;
        border-radius: 35px;
        margin-left: 0;
        margin-right: auto;
        font-weight: bold;
        font-size: 15px;
        height: 35px;
        margin-top: 35px;
        margin-bottom: 60px;
        @media(max-width: 480px){
            margin-bottom: 20px !important;
            margin-top: 0px !important;
        }
    }

    .donar-info,
    .donar-aumentar {
        text-align: center;
    }

    a.donate-now{
        background-color: #f95c50;
        border: 1px solid #f95c50;
        line-height: 35px;
        display: inline-block;
        justify-content: center;
    }
    a.increase-donation{
        background-color: #fca93b;
        border: 1px solid #fca93b;
        line-height: 17px;
    }
}

.footer-container{
    @media(max-width: 768px){
        background-color: #474747 !important;
    }
    background-color: #474747;
    .footer-gray-block{
        background-color: #474747;
    }
    h1{
        text-transform: uppercase;
        color: #ffffff !important;
        font-family: "Arial", sans-serif;
        font-size: 14px;
        margin-top: 55px;
        margin-bottom: 30px;
        text-align: center;
        @media(max-width: 480px){
            margin-top: 30px !important;
        }
    }
    .footer-social-media{
        display: block;
        text-align: center;
        margin-bottom: 20px;
        a{
            margin: 0px 20px;
        }
        img{
            display: inline-block;
        }

        .facebook-icon {
            width: 8px;
            height: 19px;
        }

        .twitter-icon {
            width: 21px;
            height: 17px;
        }

        .youtube-icon {
            width: 25px;
            height: 18px;
        }

        .instagram-icon {
            width: 22px;
            height: 22px;
        }
    }
    .footer-contact{
        padding-top: 15px;
        background-color: #474747 !important;
        padding: 0 !important;
        text-align: center;
        .footer-tel{
            margin-top: 10px;
            margin-bottom: 20px;
        }

        a{
            color: #ffffff !important;
            display: inline-block;
            text-align: center;
        }

        a.footer-mail{
            color: #f95c50 !important;
        }

        &-info {
            th {
                text-align: center;
            }
        }
    }
}
.closing-footer{
    background-color: #393939;
    padding: 0 !important;
    text-align: center;
    a{
        color: #ffffff !important;
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}